<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${selected == null}"> Boards</title>
    <title th:if="${selected!=null}">[[${selected.name}]] </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex justify-content-between">
        <a href="/boards">전체 게시판</a>
        <a th:each="board : ${boards}"
           th:href="@{/boards/{boardId}(boardId=${board.id})}"
           class="me-3">[[${board.name}]]</a>
</div>
<div>
    <form action="/articles/search" method="get">
        <input type="text" name="q" placeholder="검색어">
        <input th:unless="${selected == null}" type="hidden" name="board-id" th:value="${selected.id}">
        <select name="criteria">
            <option selected value="title">제목</option>
            <option value="content">내용</option>
        </select>
        <input type="submit" value="검색하기">

    </form>
</div>
<div class="container mt-4">
    <h1 class="mb-4">전체 게시판</h1>
    <a href="/articles/create" class="btn btn-primary mb-4">Write an Article</a></div>
<h2 th:if="${articles.isEmpty()}"> No Articles</h2>
<table th:unless="${articles.isEmpty()}" class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Board</th>
    </tr>
    <tbody>
<tr th:each="article : ${articles}">
    <th scope="col" th:text="${article.id}"></th>
    <th scope="col">
        <a th:href="@{/articles/{articleId}(articleId=${article.id})}" th:text="${article.title}"></a>
    </th>
    <th scope="col" th:text="${article.board.name}"></th>

</tr>

</tbody>
    </thead>
</table>


<!-- Bootstrap JS and dependencies (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
