<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${article.title}]]</title>
</head>
<body>
<h1>[[${article.title}]]</h1>
<a href="/boards">Back to Boards</a>
<p>
    [[${article.content}]]
</p>
<a th:href="@{/articles/{id}/update (id=${article.id})}">Update</a>
<a th:href="@{/articles/{id}/delete (id=${article.id})}">Delete</a>
<hr>
<!-- 게시글 영역 -->
<hr>
<h2>Comments</h2>
<!-- 댓글 작성 영역 -->
<form th:action="@{/articles/{id}/comments/create (id=${article.id})}" method="post">
    <div>
        <label for="comment-input">Comment:</label>
        <input type="text" id="comment-input" name="content">
    </div>
    <div>
        <label for="writer-input">Writer:</label>
        <input type="text" id="writer-input" name="writer">
    </div>
    <input type="submit" value="Writer Comment">
</form>
<!-- 댓글 표시 영역 -->
<!-- 댓글이 없을 경우 -->
<div th:if="${article.comments.isEmpty()}">
    <p>No Comments</p>
</div>
<!-- 댓글이 있을 경우 -->
<div
        th:unless="${article.comments.isEmpty()}"
        th:each="comment: ${article.comments}"
>
    <p>[[${comment.writer}]]: [[${comment.content}]]</p>
</div>
</body>
</html>